@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* main */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

/* nav bar css */

.customnavbar {
  font-family: 'Press Start 2P';
  font-size: 1em;
  background-color: #222222;

}

.nav-link, .navbar-brand{
  color: #fff;
  font-family: 'Press Start 2P';
  font-size: 15px;

  text-shadow: 0 0 5px #fff,
    0 0 10px #ff2211,
    0 0 11px #ff2211,
    0 0 32px #ff2211;
}

.navbar-brand:hover, .nav-link:hover {
  color: #fff;

  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;

}

.dropdown-menu {
  background-color: #222222;

  text-shadow: 0 0 5px #fff,
    0 0 10px #ff2211,
    0 0 11px #ff2211,
    0 0 32px #ff2211;

}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #222222;
  color:#fff;

  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.navbar-toggler-icon {
  color: #ff2211;
  font-weight: bolder;
}

.navbar-toggler{
  box-shadow: 0 0 5px #fff,
    0 0 10px #ff2211,
    0 0 11px #ff2211,
    0 0 32px #ff2211;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  border-color: red;
  box-shadow: 0 0 0px #fff,
    0 0 0px #ff2211,
    0 0 0px #ff2211,
    0 0 0px #ff2211;
}

/* play_section */

.play-section {
  /* border-style: solid;
  border-color: white; */

  margin-top: 200px;

}

/* rules_section */
.rules-section {
  /* border-style: solid;
  border-color: white; */

  color: white;
}

.blue-heading{
  /* border-style: solid;
  border-color: white; */
  color: white;
  font-size: 55px;
  text-align: center;
  font-size: 3em;

  padding-top: 200px;
  padding-bottom: 100px;

  font-family: 'Press Start 2P';
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;

  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.rules-content {
  /* border-style: solid;
  border-color: white; */
  text-align: center;
}

.rule-item {
  font-family: 'Press Start 2P';
  margin-bottom: 50px;
  text-shadow:     0 0 5px #fff,
    0 0 10px #0000d8,
    0 0 11px #0000d8,
    0 0 32px #0000d8;
}

/* history section */
.history-section {
  /* border-style: solid;
  border-color: white; */
  color: white;
}

.red-heading{
  /* border-style: solid;
  border-color: white; */
  color:white;
  padding-top: 150px;
  padding-bottom: 100px;

  font-size: 55px;
  text-align: center;
  font-size: 3em;


  font-family: 'Press Start 2P';
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;

  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.history-content {
  /* border-style: solid;
  border-color: white; */

}

#history-picture {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

#history-description {
  text-align:justify;
    font-family: 'Press Start 2P';
    line-height: 2;

    text-shadow: 0 0 5px #fff,
      0 0 10px #ff2211,
      0 0 11px #ff2211,
      0 0 32px #ff2211;
}

/* about section */
.about-section {
  /* border-style: solid;
  border-color: white; */

  color: white;
}


.card {
  width: 18em;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-body {
    font-family: 'Press Start 2P';
    font-size: 10px;

  line-height: 3;

  text-shadow:     0 0 5px #fff,
    0 0 10px #0000d8,
    0 0 11px #0000d8,
    0 0 32px #0000d8;


}

.card-img-top {
  border-radius: 30px;
  min-width: 300px;
  min-height: 400px;
}

/* Contact section */
.contact-section {
  margin-top: 100px;
  margin-bottom: 100px;
}
::placeholder{
  color: #fff;
  font-size: 15px;
}
input, select, textarea{
    color: #fff;
}

#form-container {
  box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 11px #ff2211,
    0 0 32px #ff2211;
}

#msg-form-section {
  margin-top: 14px;
  padding-top: 10px;
}

#name-form-section {
  padding: 10px;
}

#email-form-section {
    padding: 10px;
}

#form-name {
  font-family: 'Press Start 2P';
   border: none;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding-bottom: 30px;
  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.1);

}
#form-email {
  font-family: 'Press Start 2P';
  border: none;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

#msg-area {
  font-family: 'Press Start 2P';
  border: none;
  width: inherit;
  resize:vertical;

  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

#form-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#info-form-section {

  text-align: center;
}

.divider {
  background-color: grey;
}

.red-title {
  font-family: 'Press Start 2P';

  text-shadow: 0 0 5px #fff,
    0 0 10px #ff2211,
    0 0 11px #ff2211,
    0 0 32px #ff2211;
}

.blue-title {
  font-family: 'Press Start 2P';

  text-shadow:     0 0 5px #fff,
    0 0 10px #0000d8,
    0 0 11px #0000d8,
    0 0 32px #0000d8;
}

.red-text {
  font-family: 'Press Start 2P';
  font-size: small;
  color:#ff2211;
}

.icon {
  color: #ff2211;
  font-size: 30px;
}

.icon:hover{
  color: #fff;
  text-shadow: 0 0 5px #fff,
    0 0 10px #ff2211,
    0 0 11px #ff2211,
    0 0 32px #ff2211;
}



/* Neon */
.neon {
  text-align: center;
  font-size: 3em;
  padding-top: 84px;
}

.neon-button {
  cursor: pointer;
  color: #fff;
  font-family: 'Press Start 2P';
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;

  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent;
  border: 0px;
}

.neon-button:hover, .neon-button:focus {
  outline:none;
  color: #ff2211;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  text-decoration: none;
}

.neon-button-blue {
  cursor: pointer;
  color: #fff;
  font-family: 'Press Start 2P';
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;

  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent;
  border: 0px;
}

.neon-button-blue:hover, .neon-button-blue:focus {
  outline:none;
  color: #0000d8;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  text-decoration: none;
}

/* glow for mozilla */
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff2211, 0 0 70px #ff2211, 0 0 80px #ff2211, 0 0 100px #ff2211, 0 0 150px #ff2211;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2211, 0 0 35px #ff2211, 0 0 40px #ff2211, 0 0 50px #ff2211, 0 0 75px #ff2211;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0000d8, 0 0 70px #0000d8, 0 0 80px #0000d8, 0 0 100px #0000d8, 0 0 150px #0000d8;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0000d8, 0 0 35px #0000d8, 0 0 40px #0000d8, 0 0 50px #0000d8, 0 0 75px #0000d8;
  }
}

/* general glow */
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #ff2211, 0 0 80px #ff2211, 0 0 100px #ff2211, 0 0 150px #ff2211;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2211, 0 0 35px #ff2211, 0 0 40px #ff2211, 0 0 50px #ff2211, 0 0 75px #ff2211;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0000d8, 0 0 70px #0000d8, 0 0 80px #0000d8, 0 0 100px #0000d8, 0 0 150px #0000d8;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0000d8, 0 0 35px #0000d8, 0 0 40px #0000d8, 0 0 50px #0000d8, 0 0 75px #0000d8;
  }
}

/* LOGIN FORM */
.login-section {
  text-align: center;
  margin-top: 30vh;
  color: white;
}

.username-form {
  font-family: 'Press Start 2P';
  text-align: center;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
  font-size: 18;
  background-color: rgba(255, 255, 255, 0.1);
}

.password-form {
  font-family: 'Press Start 2P';
  text-align: center;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
  font-size: 18;
  background-color: rgba(255, 255, 255, 0.1);
}

.repassword-form {
  font-family: 'Press Start 2P';
  text-align: center;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: -50px;
  margin-bottom: 50px;
  font-size: 18;
  background-color: rgba(255, 255, 255, 0.1);
}
.username1-form {
  font-family: 'Press Start 2P';
  text-align: center;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18;
  background-color: rgba(255, 255, 255, 0.1);
}

.username1-form:focus, .repassword-form:focus .password-form:focus, .username-form:focus, .username1-form:hover, .repassword-form:hover, .password-form:hover, .username-form:hover{
  outline:none;
  -webkit-box-shadow: 0px 0px 36px -12px rgba(207,106,99,1);
-moz-box-shadow: 0px 0px 36px -12px rgba(207,106,99,1);
box-shadow: 0px 0px 36px -12px rgba(207,106,99,1);
}

#game-container-forms {
  padding-bottom: 10px;
  box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 11px #ff2211,
    0 0 32px #ff2211;
}

#register-form, #guest-form {
  display: none;
}


/* Game section */

.connect4-section{
  text-align:center;
  display:none;
}

.game-red-ct {
  box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 11px #ff2211,
    0 0 32px #ff2211;
}

.game-blue-ct {
  box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 11px #0000d8,
    0 0 32px #0000d8;
}

.left-pane {
  color: white;
}

.left-pane p{
  font-size:14;

}

#game-id {
  word-wrap:break-word;
}

.right-pane {
  color: white;
}

.mid-section {
  color:white;
}

.table {
  margin: 0 auto;
  background-color: black;
  border-collapse: separate;
  border-spacing: 1em 1em;
}

.table tr {
  color:white;
  line-height: 3.5;
}

.table td{
  text-align: center;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  border-radius: 50%;
  height: 60;
  border-top: 0px solid white;
}

.table .blue-disc {
  background: #0000d8;
  box-shadow: 0 0 5px #0000d8, 0 0 10px #0000d8, 0 0 11px #0000d8, 0 0 32px #0000d8;
}

.table .red-disc {
  background: #ff2211;
  box-shadow: 0 0 5px #ff2211, 0 0 10px #ff2211, 0 0 11px #ff2211, 0 0 32px #ff2211;
}

/*RESPONSIVE*/
@media (max-width: 990px) {
  #restart {
    font-size: 12.5;
  }
}

@media (max-width: 767px) {
  #restart {
    font-size: inherit;
  }
}
